body {
    background-color:#17A589;
}

#container, #add_new_book, #edit_book_details, #select_storage {
    width:60%;
    margin:20px auto 20px auto;
    border:1px solid black;
    border-radius:10px;
    height:auto;
    text-align:center;
    background-color: #1ABC9C;
}

#add_new_book, #edit_book_details, #select_storage  {
    visibility:hidden;
    height:0%;
}

#add_new_book input,select {
    width:70%;
    height:5%;
    margin:10px;
    font-size:12px;
}

#add_new_book button {
    width:10%;
    height:5%;
    border-radius: 10px;
}

#edit_book_details button {
    width:10%;
    height:5%;
    border-radius: 10px;
}

#list_of_books{
    text-align:center;
    margin:20px auto 20px auto;
}

#list_of_books th,td{
    width:100px;
}

.large {
    width:150px !important;
}

#add_book_button {
    margin:-40px 0px -10px 700px;
    height:40px;
    border-radius:10px;
    font-size:12px;
    background-color: #1ABC9C;
}

#select_storage_button {
    margin:-40px 0px -10px 480px;
    height:40px;
    border-radius:10px;
    font-size:12px;   
    background-color: #1ABC9C;
}

.select_storage_box {
    height : 100px;
    width : 100px;
    display: inline-block;
    margin:10px;
    border:0.5px solid black;
    border-radius: 10px;
}

.select_storage_box h4 {
    margin-top:40px;
}

td button {
    height:30px;
    width:80px;
    border-radius:10px;
    background-color: #1ABC9C;    
}

#add_book_submit, #edit_book_submit {
    background-color: #1ABC9C;    
}

#add_book_button:hover, #select_storage_button:hover, td button:hover, #add_book_submit:hover, #edit_book_submit:hover {
    background-color: #76D7C4;    
}

select {
    border:none;
}